<section class="section container about" *ngIf="aboutData$ | async as about">

  <!-- LEFT SIDE -->
  <div class="left">
    <h2 class="title">About Me</h2>

    <p *ngFor="let p of about.description">
       {{p}}
    </p>

    <h3 class="tech-title">// Technologies I work with</h3>

    <div class="tech-list">
      <div *ngFor="let t of about.tech">▹ {{t}}</div>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right" *ngIf="personalInfo$ | async as info">

    <!-- EDUCATION -->
    <div class="card full">
      <div class="pi pi-graduation-cap"></div>
      <div>
        <h3>Education</h3>
        <p>{{info.education.degree}}</p>
        <p class="muted">{{info.education.school}}</p>
        <p class="muted">{{info.education.duration}} • CGPA: {{info.education.cgpa}}</p>
      </div>
    </div>

    <!-- STATS -->
    <div class="grid-2">
      <div class="card" *ngFor="let s of about.stats">
        <div [class]="s.icon"></div>
        <h3>{{s.value}}</h3>
        <p>{{s.label}}</p>
      </div>
    </div>

    <!-- LEADERSHIP -->
    <div class="card full" *ngIf="about.leadership">
      <div class="pi pi-user"></div>
      <div>
        <h3>Leadership</h3>
        <p>{{about.leadership.role}}</p>
        <p class="muted">{{about.leadership.duration}}</p>
        <p class="muted">{{about.leadership.desc}}</p>
      </div>
    </div>

    <!-- PUBLICATION -->
    <div class="card full" *ngIf="about.publication">
      <div class="pi pi-file"></div>
      <div>
        <h3>Publication</h3>
        <p>
          “{{about.publication.title}}”
        </p>
        <p class="muted">{{about.publication.publisher}}</p>
      </div>
    </div>

  </div>

</section>
