<section class="hero container" *ngIf="homeData$ | async as h">

  <!-- LEFT -->
  <div class="left">
    <p class="intro">{{h.intro}}</p>

    <h1>
      {{h.name}} <br />
      <span class="highlight">{{h.surname}}</span>
    </h1>

    <h2>{{h.role}}</h2>

    <p class="desc">
      {{h.desc}}
    </p>

    <!-- ICONS -->
    <div class="icons">
      <a [href]="'mailto:' + h.socials.email" class="icon" *ngIf="h.socials.email">
        <i class="pi pi-envelope"></i>
      </a>

      <a [href]="'tel:' + h.socials.phone" class="icon" *ngIf="h.socials.phone">
        <i class="pi pi-phone"></i>
      </a>

      <a [href]="h.socials.linkedin" target="_blank" class="icon" *ngIf="h.socials.linkedin">
        <i class="pi pi-linkedin"></i>
      </a>

      <a [href]="h.socials.twitter" target="_blank" class="icon" *ngIf="h.socials.twitter">
        <i class="pi pi-twitter"></i>
      </a>

      <a [href]="h.socials.github" target="_blank" class="icon" *ngIf="h.socials.github">
        <i class="pi pi-github"></i>
      </a>

      <a [href]="h.socials.leetcode" target="_blank" class="icon" *ngIf="h.socials.leetcode">
        <i class="pi pi-code"></i>
      </a>
    </div>
  </div>

  <!-- RIGHT (CODE CARD) -->
  <div class="right">
    <div class="code-card">
      <div class="header">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
        <span class="file">developer.ts</span>
      </div>

      <pre>
<span class="key">const</span> developer = {{ '{' }}
  name: <span class="string">'{{h.name}} {{h.surname}}'</span>,
  role: <span class="string">'{{h.role}}'</span>,

  experience: {{ '{' }}
    years: <span class="number">{{h.codeCard.experience.years}}</span>,
    focus: [
      <span class="string" *ngFor="let f of h.codeCard.experience.focus; let last = last">
        '{{f}}'{{ !last ? ',' : '' }}
      </span>
    ]
  {{ '}' }},

  currentlyBuilding: <span class="string">'{{h.codeCard.currentlyBuilding}}'</span>
{{ '}' }};
      </pre>
    </div>

    <div class="badge top"></div>
    <div class="badge bottom"></div>
  </div>

</section>
